@import "variables";

header
{
  > .container.top
  {
    height: @menu-height;
    background: white;

    border-bottom: solid 1px lighten(@menu-items-color, 30%);

    > .inner
    {
      padding: 0 @menu-height*2+1rem; //make some extra space for the buttons
    }

    a.site-title
    {
      display: block;
      height: @menu-height;
      line-height: @menu-height;
      color: @title-color;
      text-decoration: none;
      font-size: 1.4em;
      overflow: hidden;

      span + span
      {
        opacity: .7;
        white-space: nowrap;
      }
    }
  }

  > .container.title
  {
    position: relative;
    height: 36vw;
    max-height: ~"calc(100vh - @{menu-height})";

    min-height: 10rem;

    @media all and (orientation: portrait) and (min-height:480px)
    {
      min-height: 20rem;
    }

    &.animating
    {
      transition: all 800ms ease-in-out;
    }

    &.maximized
    {
      height: 100vh;
      max-height: 100vh;
    }

    &.default-01 {  background-image: url("../img/header/01.jpg");  }
    &.default-02 {  background-image: url("../img/header/02.jpg");  }
    &.default-03 {  background-image: url("../img/header/03.jpg");  }
    &.default-04 {  background-image: url("../img/header/04.jpg");  }
    &.default-05 {  background-image: url("../img/header/05.jpg");  }
    &.default-06 {  background-image: url("../img/header/06.jpg");  }
    //&.default-07 {  background-image: url("../img/header/07.jpg");  }
    //&.default-08 {  background-image: url("../img/header/08.jpeg");  }


    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    text-shadow: 2px 2px 6px rgba(15, 15, 15, .75);

    border-bottom: solid 1px lighten(@menu-items-color, 30%);

    &:before
    {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.3) 100%)
    }

    > .inner
    {
      position: relative;
      height: 100%;
      overflow: hidden;

      .title-block
      {
        position: absolute;
        left: @container-horizontal-padding;
        right: @container-horizontal-padding;
        bottom: 1.5rem;

        font-family: 'Roboto Slab', serif;
        color: white;
        font-weight: 300;
      }
    }

    h1
    {
      font-size: 3rem;
      line-height: 1.2em;

      @media(max-width:480px)
      {
          font-size: 1.5rem;
      }

    }

    ul.post-meta
    {
      @media(max-width:480px)
      {
        font-size: .8rem;
      }

      li
      {
        &.category
        {
          margin-right: 1em;
        }

        &.tag
        {
          padding-right: .5em;
        }
      }
    }
  }

  label.menu-toggle
  {
    position: absolute;
    left: 0;
    top: 0;
    width: @menu-height;
    height: @menu-height;
    border-right: solid 1px lighten(@menu-items-color, 30%);

    cursor: pointer;

    &:after
    {
      content: '\e5d2';
      font-family: "Material Icons";
      color: @menu-items-color;
      font-size: 1.5rem;
      line-height: 1.5rem;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      position: absolute;
    }

    nav
    {
      @shadow-size: 5em;
      @menu-size: 30em;
      box-sizing: border-box;
      position: fixed;

      background: @text-color;
      box-shadow: 0 0 @shadow-size 0 rgba(0,0,0,0.75);
      color: white;
      cursor: default;

      overflow-x: hidden;
      overflow-y: auto;

      left: -@menu-size - @shadow-size;
      top: 0;
      bottom: 0;
      width: @menu-size;
      max-width: 100%;

      transition: left .35s;

      z-index: 22;

      padding: 1.5em 0;

      &:before
      {
        content: '';
        position: fixed;
        width: 0;
        height: 0;
        background: rgba(0,0,0,0);
        transition: all .35s;

        z-index: -1;
      }

      li
      {
        a
        {
          display: block;
          padding: .5em 2em;
          color: white;
          text-decoration: none;
          position: relative;

          &:after
          {
            //  content: '';
            position: absolute;
            bottom: 0;
            left: 2em;
            right: 2em;
            height: 1px;
            background: white;
          }

          &:hover
          {
            background: white;
            color: @text-color;
          }

          &.divider
          {
            height: 0;
            border-bottom: 1px solid rgba(255,255,255, .1);
            margin: .2rem 0; //Don't use em, because of font-size ;-)
            padding: 0;
            overflow: hidden;
            font-size: 0;
            color: transparent;
            cursor: default;

            &:hover
            {
              background: inherit;
              color: inherit;
            }
          }
        }
      }
    }

    input
    {
      display: none;
    }

    input:checked ~ nav
    {
      left: 0;

      &:before
      {
        display: block;
        content: '';
        position: fixed;
        width: auto;
        height: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,.25);
      }
    }
  }

  input[type=text]
  {
    position: absolute;
    top: 0;
    left: @menu-height;
    background: transparent;
    box-sizing: border-box;
    width: @menu-height;
    height: @menu-height;
    border: 0;
    border-right: solid 1px lighten(@menu-items-color, 30%);

    padding-left: @menu-height;

    cursor: pointer;
    color: transparent;
    transition: width .4s, background .4s, color .4s;

    outline: none;
    z-index: 10;

    + i
    {
      display: block;
      position: absolute;
      top: 0;
      left: @menu-height;
      width: @menu-height;
      height: @menu-height;

      z-index: 9;

      &:after
      {
        position: absolute;
        top: 50%;
        left: 50%;
        font-family: "Material Icons";
        content: '\e8b6';
        color: @menu-items-color;
        font-size: 1.5rem;
        line-height: 1.5rem;
        transform: translate(-50%, -50%);
      }
    }

    &:focus
    {
      width: ~"calc(100% - @{menu-height})";

      //width: 10rem;
      background: rgba(255,255,255,1);
      color: @text-color;
      //text-align: center;
      border-left: 1px solid lighten(@menu-items-color, 30%);
      text-indent: 0;

      + i
      {
        z-index: 10
      }
    }
  }

  .image-credits
  {
    position: absolute;
    top: .5rem;
    right: 1rem;
    font-size: .7rem;
    opacity: .7;
    font-style: italic;
    color: white;

    text-shadow: 2px 2px 6px rgba(15, 15, 15, .6);


    a
    {
      color: inherit;
      text-decoration: none;
    }
  }

  .toggleHeader
  {
      position: absolute;
      z-index: 1;
    display: block;

      top: 1rem;
      right: 1rem;
      width: 1.5rem;
      height: 1.5rem;
    background: transparent;
    cursor: pointer;

      &:after
      {
        content: '\e56b';
        font-family: "Material Icons";
        color: white;
        text-shadow: 2px 2px 6px rgba(15, 15, 15, .6);
        cursor: pointer;

        font-size: 1.5rem;
        line-height: 1.5rem;
        transform: translate(-50%, -50%);
        text-align: right;
      }
  }
}