@import 'https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:400,400i,700|Material+Icons';
html {
  height: 100%;
}
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  background: #f4f4f4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: .01em;
  position: relative;
  padding-bottom: 3.5rem;
  box-sizing: border-box;
  min-height: 100%;
}
html,
body,
input,
select,
textarea {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #212121;
}
@media (min-width: 700px) {
  html,
  body,
  input,
  select,
  textarea {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1025px) {
  html,
  body,
  input,
  select,
  textarea {
    font-size: 18px;
    line-height: 28px;
  }
}
.container > .inner {
  margin: 0 auto;
  max-width: 60rem;
  padding: 0 2rem;
}
main {
  margin: 2rem 0;
}
main:after {
  content: '';
  position: relative;
  width: 5em;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  clear: both;
}
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 3.5rem;
  line-height: 3.5rem;
  background: white;
  font-size: .9em;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  text-align: center;
  color: rgba(41, 47, 51, 0.75);
}
footer a {
  color: inherit;
  text-decoration: none;
}
footer .cc {
  display: inline-block;
  background-image: url("../img/cc.svg");
  background-size: cover;
  width: 1em;
  height: 1em;
  transform: translateY(2px);
}
