section.recipes-grid {
  clear: both;
}
section.recipes-grid > h1 {
  font-size: 2rem;
  margin: 2rem 0;
  font-family: 'Roboto Slab', serif;
}
section.recipes-grid > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: -1rem -1rem;
}
section.recipes-grid > ul > li {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}
@media (min-width: 400px) {
  section.recipes-grid > ul > li {
    width: 50%;
  }
}
@media (min-width: 600px) {
  section.recipes-grid > ul > li {
    width: 33%;
  }
}
section.recipes-grid > ul > li > a {
  display: block;
  color: inherit;
  text-decoration: none;
}
section.recipes-grid > ul > li > a:hover {
  text-decoration: underline;
}
section.recipes-grid > ul > li > a:hover > div.recipe-thumb > div {
  transform: scale(1.1) rotate(-2.5deg);
}
section.recipes-grid > ul > li > a > div.recipe-thumb + div {
  padding: 0.75em;
  padding-bottom: 0;
  text-align: center;
}
