@charset "utf-8";
@import "reset.css";
@import 'https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:400,400i,700|Material+Icons';
html {
  height: 100%;
}
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  background: #f4f4f4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: .01em;
  position: relative;
  padding-bottom: 3.5rem;
  box-sizing: border-box;
  min-height: 100%;
}
html,
body,
input,
select,
textarea,
.tooltip {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #212121;
}
@media (min-width: 700px) {
  html,
  body,
  input,
  select,
  textarea {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1025px) {
  html,
  body,
  input,
  select,
  textarea {
    font-size: 18px;
    line-height: 28px;
  }
}
.container > .inner {
  margin: 0 auto;
  max-width: 60rem;
  padding: 0 2rem;
}
main {
  margin: 2rem 0;
}
main:after {
  content: '';
  position: relative;
  width: 5em;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  clear: both;
}
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 3.5rem;
  line-height: 3.5rem;
  background: white;
  font-size: .9em;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  text-align: center;
  color: rgba(41, 47, 51, 0.75);
}
footer a {
  color: inherit;
  text-decoration: none;
}
footer .cc {
  display: inline-block;
  background-image: url("../img/cc.svg");
  background-size: cover;
  width: 1em;
  height: 1em;
  transform: translateY(2px);
}
header > .container.top {
  height: 3.5rem;
  background: white;
  border-bottom: solid 1px #bdcbd1;
}
header > .container.top > .inner {
  padding: 0 8rem;
}
header > .container.top a.site-title {
  display: block;
  height: 3.5rem;
  line-height: 3.5rem;
  color: #455a64;
  text-decoration: none;
  font-size: 1.4em;
  overflow: hidden;
}
header > .container.top a.site-title span + span {
  opacity: .7;
  white-space: nowrap;
}
header > .container.title {
  position: relative;
  height: 36vw;
  max-height: calc(100vh - 3.5rem);
  min-height: 10rem;
  transition: all 800ms ease-in-out;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-shadow: 2px 2px 6px rgba(15, 15, 15, 0.5);
  border-bottom: solid 1px #bdcbd1;
}
header > .container.title.maximized {
  height: 100vh;
  max-height: 100vh;
}
header > .container.title.default-01 {
  background-image: url("../img/header/01.jpg");
}
header > .container.title.default-02 {
  background-image: url("../img/header/02.jpg");
}
header > .container.title.default-03 {
  background-image: url("../img/header/03.jpg");
}
header > .container.title.default-04 {
  background-image: url("../img/header/04.jpg");
}
header > .container.title.default-05 {
  background-image: url("../img/header/05.jpg");
}
header > .container.title.default-06 {
  background-image: url("../img/header/06.jpg");
}
header > .container.title:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.3) 100%);
}
header > .container.title > .inner {
  position: relative;
  height: 100%;
  overflow: hidden;
}
header > .container.title > .inner .title-block {
  position: absolute;
  left: 2rem;
  right: 2rem;
  bottom: 1.5rem;
  font-family: 'Roboto Slab', serif;
  color: white;
  font-weight: 300;
}
header > .container.title h1 {
  font-size: 3rem;
  line-height: 1.2em;
}
@media (max-width: 480px) {
  header > .container.title h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 480px) {
  header > .container.title ul.post-meta {
    font-size: .8rem;
  }
}
header > .container.title ul.post-meta li.category {
  margin-right: 1em;
}
header > .container.title ul.post-meta li.tag {
  padding-right: .5em;
}
header label.menu-toggle {
  position: absolute;
  left: 0;
  top: 0;
  width: 3.5rem;
  height: 3.5rem;
  border-right: solid 1px #bdcbd1;
  cursor: pointer;
}
header label.menu-toggle:after {
  content: '\e5d2';
  font-family: "Material Icons";
  color: #648391;
  font-size: 1.5rem;
  line-height: 1.5rem;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
}
header label.menu-toggle nav {
  box-sizing: border-box;
  position: fixed;
  background: #212121;
  box-shadow: 0 0 5em 0 rgba(0, 0, 0, 0.75);
  color: white;
  cursor: default;
  overflow-x: hidden;
  overflow-y: auto;
  left: -35em;
  top: 0;
  bottom: 0;
  width: 30em;
  max-width: 100%;
  transition: left .35s;
  z-index: 22;
  padding: 1.5em 0;
}
header label.menu-toggle nav:before {
  content: '';
  position: fixed;
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0);
  transition: all .35s;
  z-index: -1;
}
header label.menu-toggle nav li a {
  display: block;
  padding: .5em 2em;
  color: white;
  text-decoration: none;
  position: relative;
}
header label.menu-toggle nav li a:after {
  position: absolute;
  bottom: 0;
  left: 2em;
  right: 2em;
  height: 1px;
  background: white;
}
header label.menu-toggle nav li a:hover {
  background: white;
  color: #212121;
}
header label.menu-toggle nav li a.divider {
  height: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin: .2rem 0;
  padding: 0;
  overflow: hidden;
  font-size: 0;
  color: transparent;
  cursor: default;
}
header label.menu-toggle nav li a.divider:hover {
  background: inherit;
  color: inherit;
}
header label.menu-toggle input {
  display: none;
}
header label.menu-toggle input:checked ~ nav {
  left: 0;
}
header label.menu-toggle input:checked ~ nav:before {
  display: block;
  content: '';
  position: fixed;
  width: auto;
  height: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.25);
}
header input[type=text] {
  position: absolute;
  top: 0;
  left: 3.5rem;
  background: transparent;
  box-sizing: border-box;
  width: 3.5rem;
  height: 3.5rem;
  border: 0;
  border-right: solid 1px #bdcbd1;
  padding-left: 3.5rem;
  cursor: pointer;
  color: transparent;
  transition: width .4s, background .4s, color .4s;
  outline: none;
  z-index: 10;
}
header input[type=text] + i {
  display: block;
  position: absolute;
  top: 0;
  left: 3.5rem;
  width: 3.5rem;
  height: 3.5rem;
  z-index: 9;
}
header input[type=text] + i:after {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "Material Icons";
  content: '\e8b6';
  color: #648391;
  font-size: 1.5rem;
  line-height: 1.5rem;
  transform: translate(-50%, -50%);
}
header input[type=text]:focus {
  width: calc(100% - 3.5rem);
  background: #ffffff;
  color: #212121;
  border-left: 1px solid #bdcbd1;
  text-indent: 0;
}
header input[type=text]:focus + i {
  z-index: 10;
}
header .image-credits {
  position: absolute;
  top: .5rem;
  right: 1rem;
  font-size: .7rem;
  opacity: .7;
  font-style: italic;
  color: white;
  text-shadow: 2px 2px 6px rgba(15, 15, 15, 0.6);
}
header .image-credits a {
  color: inherit;
  text-decoration: none;
}
header .toggleHeader {
  position: absolute;
  z-index: 1;
  top: 1rem;
  right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
}
header .toggleHeader:after {
  content: '\e56b';
  font-family: "Material Icons";
  color: white;
  text-shadow: 2px 2px 6px rgba(15, 15, 15, 0.6);
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 1.5rem;
  transform: translate(-50%, -50%);
  text-align: right;
}
article > .container {
  overflow: hidden;
}
article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  font-family: 'Roboto Slab', serif;
  line-height: 1.2em;
  font-weight: 300;
  color: #263238;
}
article h1 + p,
article h2 + p,
article h3 + p,
article h4 + p,
article h5 + p,
article h6 + p {
  margin-top: 0;
}
article h1 + ul,
article h2 + ul,
article h3 + ul,
article h4 + ul,
article h5 + ul,
article h6 + ul,
article h1 + ol,
article h2 + ol,
article h3 + ol,
article h4 + ol,
article h5 + ol,
article h6 + ol {
  margin-top: 0;
}
article h1 {
  font-size: 2rem;
  margin-top: .6em;
}
article h2 {
  font-size: 1.4rem;
  margin-top: .4em;
}
article h3 {
  font-size: 1.2rem;
  margin-top: .2em;
}
article p {
  margin: 1em 0;
  text-align: justify;
}
article p + ul,
article p + ol {
  margin-top: -0.6em;
}
article em {
  font-style: italic;
}
article strong {
  font-weight: bold;
}
article hr {
  clear: both;
  height: 1px;
  border: 0;
  border-top: 1px dotted #d4d4cf;
  margin: 20px 0;
  background: none;
}
article sup,
article sub {
  font-size: .8em;
}
article sup {
  vertical-align: super;
}
article sub {
  vertical-align: sub;
}
article a {
  color: #661400;
  text-decoration: none;
}
article a:hover {
  text-decoration: underline;
}
article img {
  border: 0;
}
article aside.ingredients {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: #efefef;
}
@media (min-width: 500px) {
  article aside.ingredients {
    float: right;
    max-width: 20rem;
    margin-top: 0;
    margin-left: 2rem;
  }
}
article aside.ingredients > h1 {
  line-height: 1em;
  padding-bottom: .5em;
  margin-top: 0;
  text-align: center;
}
article aside.ingredients > .inner {
  padding: 0 1.5rem;
}
article aside.ingredients > .inner > p:first-child {
  margin-top: 0;
}
article aside.ingredients > .inner > ul {
  margin-left: 1em;
}
article aside.ingredients hr {
  position: relative;
  clear: both;
  height: 1px;
  border: 0;
  border-top: 2px solid #d4d4cf;
  margin: 0 0;
  background: none;
}
article aside.ingredients hr:after {
  content: '';
  position: absolute;
  width: .7em;
  height: .7em;
  border: 2px solid #d4d4cf;
  border-radius: 50%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f4f4f4;
}
article aside.ingredients hr:first-child {
  margin-bottom: 1.5rem;
}
article aside.ingredients hr:last-child {
  margin-top: 1.5rem;
}
article .post-date {
  font-style: italic;
  opacity: .5;
}
article .recipe-credits {
  font-size: .8rem;
  opacity: .7;
  font-style: italic;
}
article .recipe-credits a {
  color: inherit;
  text-decoration: none;
}
article.post ul {
  margin-left: 2em;
}
article.post ul li:before {
  content: '-';
  position: absolute;
  margin-left: -1em;
}
article.introduction {
  margin: 2.8rem 0;
  font-size: 1.4em;
}
ul.post-meta {
  overflow: hidden;
}
ul.post-meta li {
  float: left;
}
ul.post-meta li > a {
  color: inherit;
  text-decoration: none;
}
ul.post-meta li > a:hover {
  text-decoration: underline;
}
ul.post-meta li.tag {
  position: relative;
  padding-right: .5em;
  padding-left: 1.3em;
}
ul.post-meta li.tag:before {
  position: absolute;
  font-family: "Material Icons";
  content: '\e892';
  left: 0;
}
.noResults {
  opacity: .5;
  font-size: 1.5rem;
  line-height: 2.0rem;
}
ul.toc {
  column-count: 2;
  column-gap: 2rem;
  column-span: 2;
}
ul.toc li {
  margin: .5em 0;
}
.listing > article:after {
  content: '';
  display: block;
  border-bottom: solid 1px rgba(160, 160, 160, 0.3);
  height: 0;
  clear: both;
  padding-top: 2rem;
  margin-bottom: 2rem;
}
.listing > article:last-child:after {
  border-bottom: 0;
}
.listing > article:hover div.recipe-thumb > div {
  transform: scale(1.1) rotate(-2.5deg);
}
.listing > article > a {
  display: block;
  color: inherit;
  text-decoration: none;
}
.listing > article > a > div.recipe-thumb {
  width: 200px;
  float: left;
  margin-right: 2rem;
  box-sizing: content-box;
}
@media (max-width: 400px) {
  .listing > article > a > div.recipe-thumb {
    margin-bottom: 1rem;
    float: none;
    width: 100px;
    border-width: 5px;
  }
}
@media (max-width: 600px) {
  .listing > article > a > div.recipe-thumb {
    width: 100px;
    border-width: 5px;
  }
}
.listing > article > a > div.recipe-thumb > div.none:after {
  font-size: 5rem;
}
.listing > article > a > h1 {
  font-size: 1.5rem;
  margin-top: 0;
}
.listing > article > a > h1:hover {
  text-decoration: underline;
}
.listing > article > a > div.teaser {
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.listing > article > a > div.teaser > *:first-child {
  margin-top: 0;
}
.listing > article > a > div.teaser > *:last-child {
  margin-bottom: 0;
}
.listing > article > ul.post-meta {
  font-style: italic;
  opacity: .75;
}
.listing > article > ul.post-meta li.category {
  margin-right: .5em;
}
.listing > article > ul.post-meta li.category:first-child:before {
  content: "Categorie: ";
}
.listing > article > ul.post-meta li.tag:before {
  color: #455a64;
}
.resultsCount {
  text-align: right;
  margin: 2rem 0;
  opacity: .5;
  font-style: italic;
}
div.recipe-thumb {
  position: relative;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border: .75em solid white;
  overflow: hidden;
}
div.recipe-thumb > div {
  width: 100%;
  padding-bottom: 75%;
  background-size: cover;
  transition: transform 800ms ease-in-out;
}
div.recipe-thumb > .none {
  background-color: white;
  box-shadow: inset 0 0 4em 0 rgba(0, 0, 0, 0.1);
}
div.recipe-thumb > .none:after {
  content: '\e56c';
  font-family: "Material Icons";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10vw;
  opacity: .3;
}
section.recipes-grid {
  clear: both;
}
section.recipes-grid > h1 {
  font-size: 2rem;
  margin: 2rem 0;
}
section.recipes-grid > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: -1rem -1rem;
}
section.recipes-grid > ul > li {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}
@media (min-width: 400px) {
  section.recipes-grid > ul > li {
    width: 50%;
  }
}
@media (min-width: 600px) {
  section.recipes-grid > ul > li {
    width: 33%;
  }
}
section.recipes-grid > ul > li > a {
  display: block;
  color: inherit;
  text-decoration: none;
}
section.recipes-grid > ul > li > a:hover {
  text-decoration: underline;
}
section.recipes-grid > ul > li > a:hover > div.recipe-thumb > div {
  transform: scale(1.1) rotate(-2.5deg);
}
section.recipes-grid > ul > li > a > div.recipe-thumb + div {
  padding: 0.75em;
  padding-bottom: 0;
  text-align: center;
}
section.pagination > ul {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin: -0.5em;
}
section.pagination > ul > li {
  margin: 0.5em;
}
section.pagination > ul > li > a {
  position: relative;
  color: inherit;
  display: block;
  text-decoration: none;
}
section.pagination > ul > li.page {
  flex-grow: 0;
}
section.pagination > ul > li.page > a {
  text-align: center;
  line-height: 1em;
  padding: .5em .7em;
  border-radius: 3px;
  background: white;
  color: #212121;
}
section.pagination > ul > li.page > a:hover {
  box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.3);
}
section.pagination > ul > li.page.active > a {
  background: #212121;
  color: white;
}
section.pagination > ul > li.previous,
section.pagination > ul > li.next {
  flex-grow: 1;
}
section.pagination > ul > li.previous > a:hover,
section.pagination > ul > li.next > a:hover {
  text-decoration: underline;
}
section.pagination > ul > li.previous > a:hover:after,
section.pagination > ul > li.next > a:hover:after {
  text-decoration: none;
}
section.pagination > ul > li.previous > a:before,
section.pagination > ul > li.next > a:before {
  position: absolute;
  display: block;
  font-family: "Material Icons";
}
section.pagination > ul > li.previous > a {
  text-align: left;
  padding-left: 1em;
}
section.pagination > ul > li.previous > a:before {
  left: 0;
  content: '\e408';
}
section.pagination > ul > li.next > a {
  text-align: right;
  padding-right: 1em;
}
section.pagination > ul > li.next > a:before {
  right: 0;
  content: '\e409';
}
section.pagination > ul > li.disabled > a {
  opacity: .5;
  cursor: default;
}
section.pagination > ul > li.disabled > a:hover {
  text-decoration: none;
}
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: .85rem;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.tooltip.in {
  opacity: 1;
}
.tooltip.top {
  margin-top: -3px;
  padding: 5px 0;
}
.tooltip.right {
  margin-left: 3px;
  padding: 0 5px;
}
.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0;
}
.tooltip.left {
  margin-left: -3px;
  padding: 0 5px;
}
.tooltip-inner {
  max-width: 200px;
  padding: .8em;
  color: #ffffff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: rgba(0, 0, 0, 0.85);
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: rgba(0, 0, 0, 0.85);
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: rgba(0, 0, 0, 0.85);
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: rgba(0, 0, 0, 0.85);
}
article.home section {
  margin: 2em 0;
}
article.home section:first-child {
  margin-top: 0;
}
article.home section:last-child {
  margin-bottom: 0;
}
article.home section > h1 {
  margin-bottom: .5em;
}
article.home > section:first-child > h1 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 0;
}
article.home > section:first-child > p {
  font-size: 1.5rem;
  line-height: 2rem;
}
article.home > section.search {
  position: relative;
}
article.home > section.search input {
  display: block;
  font-size: 1.4rem;
  width: 100%;
  text-align: center;
  padding: .5rem;
  box-sizing: border-box;
}
article.home > section.search input + i {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1rem;
  width: 1.4rem;
}
article.home > section.search input + i:after {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "Material Icons";
  content: '\e8b6';
  font-size: 1.5rem;
  line-height: 1.5rem;
  transform: translate(-50%, -50%);
}
article.home section.catsAndTags {
  display: table;
  width: 100%;
}
article.home section.catsAndTags > div {
  width: 50%;
  box-sizing: border-box;
  height: 100%;
  display: table-cell;
  padding: .5em 0;
}
article.home section.catsAndTags > div > h1 {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: .5em;
}
article.home section.catsAndTags > div:first-child {
  border-right: 1px solid rgba(160, 160, 160, 0.3);
  padding-right: 2em;
}
article.home section.catsAndTags > div:last-child {
  padding-left: 2em;
}
article.home section.catsAndTags > div ul {
  display: flex;
  flex-flow: row wrap;
}
article.home section.catsAndTags > div ul > li {
  margin-right: 1em;
  margin-bottom: 1em;
}
article.home section.catsAndTags > div ul > li > a {
  display: inline-block;
  padding: .3em .8em;
  background: #263238;
  color: #f4f4f4;
  border-radius: .3em;
  text-decoration: none;
}
article.home section.catsAndTags > div ul > li > a:hover {
  box-shadow: 0 0 0.5em 0 rgba(38, 50, 56, 0.5);
}
article.home section.toc {
  text-align: center;
}
article.home section.toc a {
  position: relative;
  display: inline-block;
  padding: .3em .8em;
  padding-right: 1.8em;
  border: 1px solid #263238;
  color: #263238;
  border-radius: .3em;
  text-decoration: none;
}
article.home section.toc a:hover {
  box-shadow: 0 0 0.5em 0 rgba(38, 50, 56, 0.2);
}
article.home section.toc a:after {
  font-family: "Material Icons";
  content: '\e409';
  position: absolute;
  right: .5em;
  top: 50%;
  transform: translateY(-50%);
}
article.home section.recipes-grid.featured > ul {
  justify-content: center;
}
