<footer class="site-footer container">
    <div class="inner">
        <a href="{{ paths.root }}page/over-dkvm" title="Deze website heeft een Creative Commons-licentie. Lees meer...">
            <div class="cc"></div> {{ "now" | date("Y") }} {{ app.config.get('general/sitename') }}
        </a>
    </div>
</footer>
