<div class="container title" {% if image is defined %}style="background-image: url('{{ image|thumbnail(1920, 0) }}')" {% endif %}>
    <div class="inner">
        <div class="title-block">
            {{ include('partials/meta_listing.twig') }}
            <h1 class="post-title">{{ title }}</h1>
        </div>
    </div>
    {% if imageCredits is not empty %}
        <div class="image-credits">{{ imageCredits }}</div>
    {% endif %}
</div>