{% set title = "Deze pagina bestaat niet" %}

{% extends 'partials/master.twig' %}
{% setcontent latest = 'recepten' limit 10 orderby '-datechanged' %}

{% block main %}
    <article>
        <div class="noResults">
            Helaas, Pindakaas. De gevraagde pagina bestaat niet op DKVM.
        </div>

        {% if latest is not empty %}
            {% include 'partials/recipes_grid.twig' with {'records': latest, 'heading': 'Niet getreurd! Is dit iets voor je?'} %}
        {% endif %}
    </article>
{% endblock main %}