{% set title = __('Zoekresultaten voor: %search%', { '%search%': search }) %}
{% extends 'partials/master.twig' %}

{% if records[0].image is not empty %}
    {% set image = records[0].image %}
{% endif %}

{% block main %}
    <div class="listing">
        {% for record in records %}
            {{ include("partials/listing_item.twig") }}
        {% else %}
            <div class="noResults">
            {{ __('Helaas, er is niets gevonden voor "%SEARCHTERM%".', { '%SEARCHTERM%': search|escape }) }}
            </div>
        {% endfor %}
    </div>

    {{ pager(template = 'partials/pagination.twig') }}
{% endblock main %}